In [1]:
import pandas as pd 
from pathlib import Path

In [4]:
#SNP 500 Historical dataframe --> sp500_df
sp500_df = pd.read_csv(Path('../Project-1-/Resources/SPX 500 1972 --_ Present - Sheet1.csv'),
 infer_datetime_format= True, parse_dates=True)
sp500_df['Date'] = pd.to_datetime(sp500_df['Date']).dt.date
sp500_df = sp500_df.set_index('Date')

#Because pd.to.datetime had to be used to get rid of the timestamps next to the date:
#when using .loc --> you must set startdate and end date like so:
startdate= pd.to_datetime('1972-01-03').date()
enddate = pd.to_datetime('1974-01-03').date()

#and then certain timeframes can be located with this code:
sp500_df_2yr = sp500_df.loc[startdate:enddate]

92.16

In [13]:
#Now importing our 10yr yield data (ST Louis Fed):
ten_yr_yield_df = pd.read_csv(Path('../Project-1-/Resources/DGS10 (1).csv'), infer_datetime_format=True, index_col='DATE')
ten_yr_yield_df = ten_yr_yield_df.rename(columns={'DGS10':'yield'})


#You can use normal loc on this dataset since there was no timestamp to be removed:
ten_yr_yield_df.loc['1962-01-02' :'1962-01-04']

           yield
DATE
1962-01-02  4.06
1962-01-03  4.03
1962-01-04  3.99

In [14]:
#Now for our crypto data (BTC + ETH): --> Will have to use startdate/enddate like the SNP dataframe to locate dates
import alpaca_trade_api as tradeapi
import os 
from dotenv import load_dotenv
load_dotenv()
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca_trade_api.rest import REST, TimeFrame

#keys:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [15]:
#BTC DF: 2016 --> present

#create api variable
alpaca_api = REST(alpaca_api_key, alpaca_secret_key, "https://paper-api.alpaca.markets")

#get btc df
btc_df = alpaca_api.get_crypto_bars(
    'BTCUSD',
    TimeFrame.Day,
    '2016-01-01',
    '2022-10-20'
).df

#drop columns, reset index
btc_df = btc_df.drop(columns=['exchange','open','high','low','volume','trade_count','vwap'])
btc_df = btc_df.reset_index()

#removing timestamp and setting index back to date
btc_df['timestamp'] = pd.to_datetime(btc_df['timestamp']).dt.date
btc_df = btc_df.set_index('timestamp')
btc_df

               close
timestamp
2016-01-01    435.66
2016-01-02    435.40
2016-01-03    431.91
2016-01-04    433.78
2016-01-05    431.31
...              ...
2022-10-19  19192.00
2022-10-19  19178.00
2022-10-20  19047.32
2022-10-20  19039.20
2022-10-20  19043.00

[3784 rows x 1 columns]

In [16]:
#ETH DF: 2016 --> present

#get eth df
eth_df = alpaca_api.get_crypto_bars(
    'ETHUSD',
    TimeFrame.Day,
    '2016-01-01',
    '2022-10-20'
).df

#drop columns, reset index
eth_df = eth_df.drop(columns=['exchange','open','high','low','volume','trade_count','vwap'])
eth_df = eth_df.reset_index()

#removing timestamp and setting index back to date
eth_df['timestamp'] = pd.to_datetime(eth_df['timestamp']).dt.date
eth_df = eth_df.set_index('timestamp')
eth_df

              close
timestamp
2016-05-17    14.00
2016-05-18    13.18
2016-05-19    14.82
2016-05-20    14.17
2016-05-23    13.74
...             ...
2022-10-19  1290.43
2022-10-19  1290.90
2022-10-20  1288.05
2022-10-20  1286.71
2022-10-20  1288.40

[3629 rows x 1 columns]

## This leaves us with 4 data frames that we can use for the rest of our project analyzing bear markets ##
---
sp500_df = SNP500 closing prices from 1972-->present (needs datetime)

---
ten_yr_yield_df = 10 year yields from 1960-->present

---
btc_df/eth_df = closing prices from 2016 --> present (needs datetime)

---