In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
#SNP 500 Historical dataframe --> sp500_df
sp500_df = pd.read_csv(Path("../ResourceS/SPX 500 1972 --_ Present - Sheet1.csv"),
 infer_datetime_format= True, parse_dates=True)
sp500_df['Date'] = pd.to_datetime(sp500_df['Date']).dt.date
sp500_df = sp500_df.set_index('Date')
sp500_df = sp500_df.dropna()
#Because pd.to.datetime had to be used to get rid of the timestamps next to the date:
#when using .loc --> you must set startdate and end date like so:
startdate= pd.to_datetime('1972-01-03').date()
enddate = pd.to_datetime('1974-01-03').date()

#and then certain timeframes can be located with this code:
sp500_df_2yr = sp500_df.loc[startdate:enddate]
sp500_df_2yr

             Close
Date
1972-01-03  101.67
1972-01-04  102.09
1972-01-05  103.06
1972-01-06  103.51
1972-01-07  103.47
...            ...
1973-12-27   97.74
1973-12-28   97.54
1973-12-31   97.55
1974-01-02   97.68
1974-01-03   99.80

[505 rows x 1 columns]

In [3]:
#Now importing our 10yr yield data (ST Louis Fed):
ten_yr_yield_df = pd.read_csv(Path("../Resources/DGS10 (1).csv"), infer_datetime_format=True, index_col='DATE')
ten_yr_yield_df = ten_yr_yield_df.rename(columns={'DGS10':'yield'})


#You can use normal loc on this dataset since there was no timestamp to be removed:
ten_yr_yield_df.loc['1962-01-02' :'1962-01-04']
ten_yr_yield_df = ten_yr_yield_df.dropna()
ten_yr_yield_df

           yield
DATE
1962-01-02  4.06
1962-01-03  4.03
1962-01-04  3.99
1962-01-05  4.02
1962-01-08  4.03
...          ...
2022-10-21  4.21
2022-10-24  4.25
2022-10-25  4.10
2022-10-26  4.04
2022-10-27  3.96

[15868 rows x 1 columns]

In [4]:
#Now for our crypto data (BTC + ETH): --> Will have to use startdate/enddate like the SNP dataframe to locate dates
import alpaca_trade_api as tradeapi
import os 
from dotenv import load_dotenv
load_dotenv()
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca_trade_api.rest import REST, TimeFrame

#keys:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [5]:
#BTC DF: 2016 --> present

#create api variable
alpaca_api = REST(alpaca_api_key, alpaca_secret_key, "https://paper-api.alpaca.markets")

#get btc df
btc_df = alpaca_api.get_crypto_bars(
    'BTCUSD',
    TimeFrame.Day,
    '2016-01-01',
    '2022-10-20'
).df

#drop columns, reset index
btc_df = btc_df.drop(columns=['exchange','open','high','low','volume','trade_count','vwap'])
btc_df = btc_df.reset_index()

#removing timestamp and setting index back to date
btc_df['timestamp'] = pd.to_datetime(btc_df['timestamp']).dt.date
btc_df = btc_df.set_index('timestamp')
btc_df = btc_df.dropna()
btc_df

               close
timestamp
2016-01-01    435.66
2016-01-02    435.40
2016-01-03    431.91
2016-01-04    433.78
2016-01-05    431.31
...              ...
2022-10-19  19192.00
2022-10-19  19178.00
2022-10-20  19047.32
2022-10-20  19039.20
2022-10-20  19043.00

[3784 rows x 1 columns]

startdate_btc_1= pd.to_datetime('2017-12-16').date()
enddate_btc_1 = pd.to_datetime('2018-12-18').date()
btc_first_bear = btc_df.loc[startdate_btc_1:enddate_btc_1]
btc_first_bear
startdate_btc_2= pd.to_datetime('2021-11-12').date()
enddate_btc_2 = pd.to_datetime('2022-09-21').date()
btc_second_bear = btc_df.loc[startdate_btc_2:enddate_btc_2]
btc_second_bear

In [6]:
#ETH DF: 2016 --> present

#get eth df
eth_df = alpaca_api.get_crypto_bars(
    'ETHUSD',
    TimeFrame.Day,
    '2016-01-01',
    '2022-10-20'
).df

#drop columns, reset index
eth_df = eth_df.drop(columns=['exchange','open','high','low','volume','trade_count','vwap'])
eth_df = eth_df.reset_index()

#removing timestamp and setting index back to date
eth_df['timestamp'] = pd.to_datetime(eth_df['timestamp']).dt.date
eth_df = eth_df.set_index('timestamp')
eth_df = eth_df.dropna()
eth_df

              close
timestamp
2016-05-17    14.00
2016-05-18    13.18
2016-05-19    14.82
2016-05-20    14.17
2016-05-23    13.74
...             ...
2022-10-19  1290.43
2022-10-19  1290.90
2022-10-20  1288.05
2022-10-20  1286.71
2022-10-20  1288.40

[3629 rows x 1 columns]

In [7]:
startdate_btc_1= pd.to_datetime('2017-12-16').date()
enddate_btc_1 = pd.to_datetime('2018-12-18').date()
btc_first_bear = btc_df.loc[startdate_btc_1:enddate_btc_1]
btc_first_bear
startdate_btc_2= pd.to_datetime('2021-11-12').date()
enddate_btc_2 = pd.to_datetime('2022-09-21').date()
btc_second_bear = btc_df.loc[startdate_btc_2:enddate_btc_2]
btc_second_bear

               close
timestamp
2021-11-12  63618.26
2021-11-12  63643.70
2021-11-12  63650.00
2021-11-13  64913.73
2021-11-13  64584.90
...              ...
2022-09-20  18996.90
2022-09-20  18990.00
2022-09-21  18705.98
2022-09-21  18705.90
2022-09-21  18704.00

[942 rows x 1 columns]

In [8]:
startdate_eth_1= pd.to_datetime('2017-06-12').date()
enddate_eth_1 = pd.to_datetime('2017-07-16').date()
eth_first_bear = eth_df.loc[startdate_eth_1:enddate_eth_1]
eth_first_bear
startdate_eth_2= pd.to_datetime('2018-01-13').date()
enddate_eth_2 = pd.to_datetime('2018-12-15').date()
eth_second_bear = eth_df.loc[startdate_eth_2:enddate_eth_2]
eth_second_bear
startdate_eth_3= pd.to_datetime('2021-11-08').date()
enddate_eth_3 = pd.to_datetime('2022-06-18').date()
eth_third_bear = eth_df.loc[startdate_eth_3:enddate_eth_3]
eth_third_bear

              close
timestamp
2021-11-08  4828.79
2021-11-08  4823.26
2021-11-08  4827.30
2021-11-09  4702.01
2021-11-09  4704.56
...             ...
2022-06-17  1075.81
2022-06-17  1078.70
2022-06-18   966.60
2022-06-18   965.46
2022-06-18   966.10

[669 rows x 1 columns]

In [9]:
#percent change of first btc bear market
btc_drawdown_1= (btc_first_bear.min()/btc_first_bear.max())-1
btc_drawdown_1

close   -0.835759
dtype: float64

In [10]:
#duration of first btc bear market
btc_drawdown_time_1 = btc_first_bear.count()
btc_drawdown_time_1

close    368
dtype: int64

In [11]:
btc_bear_1_returns= btc_first_bear.pct_change()
btc_bear_1_vol = btc_bear_1_returns.std()
btc_bear_1_vol

close    0.048611
dtype: float64

In [12]:
#percent change of second btc bear market
btc_drawdown_2= (btc_second_bear.min()/btc_second_bear.max())-1
btc_drawdown_2

close   -0.722548
dtype: float64

In [27]:
#duration of second btc bear market
btc_drawdown_time_2 = btc_second_bear['close'].count()
btc_drawdown_time_2

942

In [14]:
# standard deviation
btc_bear_2_returns= btc_second_bear.pct_change()
btc_bear_2_vol = btc_bear_2_returns.std()
btc_bear_2_vol

close    0.021216
dtype: float64

In [ ]:
eth_bear_time_ = eth_first_bear.count()
eth_bear_

In [20]:
#duration of first eth bear market
eth_bear_time_1 = eth_first_bear.count()
eth_bear_time_1

close    35
dtype: int64

In [17]:
# standard deviation
eth_bear_1_returns= eth_first_bear.pct_change()
eth_bear_1_vol = eth_bear_1_returns.std()
eth_bear_1_vol

close    0.077136
dtype: float64

In [37]:
#percent change of second eth bear market
eth_drawdown_1= (eth_first_bear.min()/eth_first_bear.max())-1
eth_drawdown_1

close   -0.582823
dtype: float64

In [22]:
#duration of second eth bear market
eth_bear_time_2 = eth_second_bear.count()
eth_bear_time_2

close    337
dtype: int64

In [23]:
# standard deviation
eth_bear_2_returns= eth_second_bear.pct_change()
eth_bear_2_vol = eth_bear_2_returns.std()
eth_bear_2_vol

close    0.05885
dtype: float64

In [29]:
#percent change of second btc bear market
eth_drawdown_2= (eth_second_bear.min()/eth_second_bear.max())-1
eth_drawdown_2

close   -0.939712
dtype: float64

In [24]:
#percent change of third eth bear market
eth_drawdown_3= (eth_third_bear.min()/eth_third_bear.max())-1
eth_drawdown_3

close   -0.800062
dtype: float64

In [25]:
#duration of third eth bear market
eth_bear_time_3 = eth_third_bear.count()
eth_bear_time_3

close    669
dtype: int64

In [26]:
# standard deviation
eth_bear_3_returns= eth_third_bear.pct_change()
eth_bear_3_vol = eth_bear_3_returns.std()
eth_bear_3_vol

close    0.02707
dtype: float64

In [34]:
import hvplot.pandas

eth_drawdown_data = [['First Bear', -58.28,35],['Second Bear', -93.9,337],['Third Bear', -80,669]]
eth_drawdown_df = pd.DataFrame(eth_drawdown_data, columns=['Bear','Pct Drawdown','Days Elapsed'])
eth_drawdown_df.set_index('Bear')
eth_drawdown_df

          Bear  Pct Drawdown  Days Elapsed
0   First Bear        -58.28            35
1  Second Bear        -93.90           337
2   Third Bear        -80.00           669

In [36]:
eth_drawdown_df.hvplot.bar(
    rot=45
)

:Bars   [index,Variable]   (value)

In [39]:
import hvplot.pandas

btc_drawdown_data = [['First Bear', -83.57,368],['Second Bear', -72.25,942]]
btc_drawdown_df = pd.DataFrame(btc_drawdown_data, columns=['Bear','Pct Drawdown','Days Elapsed'])
btc_drawdown_df.set_index('Bear')
btc_drawdown_df

          Bear  Pct Drawdown  Days Elapsed
0   First Bear        -83.57           368
1  Second Bear        -72.25           942

In [40]:
btc_drawdown_df.hvplot.bar(
    rot=45
)

:Bars   [index,Variable]   (value)